<!DOCTYPE html>
<html class='no-js' lang='en'>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>管理员面板 - 亦庄开发区中学选修课报名系统</title>
    <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
</head>

<body class='main page'>
<% include ../include/header.ejs %>
<div id='wrapper'>
    <% include ../include/sidebar.ejs %>
    <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
            <li>
                <a href="/admin/student">学生清单</a>
            </li>
            <li class="active">增加学生</li>
        </ul>
    </section>
    <div id='content'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                新增学生界面
            </div>
            <div class='panel-body'>
                <div class="row">
                    <div class="col-lg-5">
                        <p>
                            学号：
                        </p>
                        <p>
                            <input checkvalid type="text" class="form-control" id="sidTxt">

                        </p>
                        <p>
                            姓名：
                        </p>
                        <p>
                            <input checkvalid type="text" class="form-control" id="nameTxt">
                        </p>
                        <p>
                            年纪：
                        </p>
                        <p>
                            <select  checkvalid class="form-control" id="gradeSelect">
                                <option value="初一">初一</option>
                                <option value="初二">初二</option>
                                <option value="初三">初三</option>
                                <option value="高一">高一</option>
                                <option value="高二">高二</option>
                                <option value="高三">高三</option>
                            </select>
                        </p>
                        <p>
                            初始密码：
                        </p>
                        <p>
                            <input checkvalid type="text" class="form-control" id="passwordTxt">
                        </p>
                        <p>
                            <input type="button" value="提交" class="btn btn-success" id="submitBtn" disabled>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript">
    let invalid = {
        "sid"       :   true,
        "name"      :   true,
        "grade"     :   true,
        "password"  :   true
    }
    $("#sidTxt").change(function () {
        var _sid = $(this).val()
        if (/^[\d]{9}/.test(_sid)){
            invalid.sid = false
              $("div.alert").remove()
        }else {
            invalid.sid = true
            $(this).after($alertTip("danger","学号必须9位数字"))
        }
    })

    $.fn.extend({

    })

    function $alertTip(className,txt){
        return $("<div class='alert  myalert alert-" + className +   "'role='alert'>" + txt +"</div>")
    }
    $("[checkvalid]").change(function () {
        var allValid = true;
        for (let k in invalid){
            if (invalid[k]){
                allValid = false
                break
            }
        }
        if (allValid) {
            $("#submitBtn").attr("disabled",false)
        }
        else {
            $("#submitBtn").attr("disabled",true)
        }
    })
    $("#submitBtn").click(function () {
        let sid = $("#sidTxt").val()
        let name = $("#nameTxt").val()
        let grade = $("#gradeSelect").val()
        let password = $("#passwordTxt").val()
        console.log("test")
        $.post("/student",{
            sid:sid,
            name:name,
            grade:grade,
            password:password
        },function (data) {
            if (data.result == 1){
                alert("成功添加！")
                $("input").val("")
            }else {
                alert("添加失败！")
            }
        })
    })
</script>
</body>

</html>
